<!--The content below is only a placeholder and can be replaced.-->

<header class="navbar navbar-dark bg-dark">
    <a class="navbar-brand mr-0 mr-md-2" href="/">
    </a>
    <a class="text-white mb-3 mb-md-0 ml-md-3" *ngIf="autenticacionService.getToken();" routerLink="/roles">Roles</a>
    <a class="text-white mb-3 mb-md-0 ml-md-3" *ngIf="autenticacionService.getToken();"  routerLink="/users">Usuarios</a>
    <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <form #searchForm="ngForm">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
          <input name="searchTerm" class="form-control" type="text" placeholder="search..." #searhTerm="ngModel" [(ngModel)]="searchTerm">
        </div>
        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" tabindex="-1" />
      </form>
    </div>
  </header>
<div class="container p-5">
      <router-outlet></router-outlet>
</div>